<h1>Listing friends</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @friends, :window => 1, :remote => true %>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= image_tag friend.avatar.url %></td>
        <td id = "like"><%= friend.like %></td>
        <td><%= link_to 'Show', user_friend_path(friend, current_user.id) %></td>
        <td><%= link_to 'Edit', edit_user_friend_path(friend, current_user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





<h3>Swipe the green rectangle in the right direction to change its color:</h3>
<div class="box">

</div>
