<h1>Listing gyms</h1>

   <% @gyms.each do |gym| %>
      <tr>
        <td><%= gym.name %></td>
        <td><%= gym.location %></td>
        <td><%= gym.avatar %></td>
        <td><%= link_to 'Show', gym %></td>
        <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
        <td><%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gym', new_gym_path %>
