<h1>Listing butts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Fart</th>
      <th>Shape</th>
      <th>Percentbodysize</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @butts.each do |butt| %>
      <tr>
        <td><%= butt.name %></td>
        <td><%= butt.location %></td>
        <td><%= butt.fart %></td>
        <td><%= butt.shape %></td>
        <td><%= butt.percentbodysize %></td>
        <td><%= link_to 'Show', butt %></td>
        <td><%= link_to 'Edit', edit_butt_path(butt) %></td>
        <td><%= link_to 'Destroy', butt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Butt', new_butt_path %>
