<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @butt.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @butt.location %>
</p>

<p>
  <strong>Fart:</strong>
  <%= @butt.fart %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @butt.shape %>
</p>

<p>
  <strong>Percentbodysize:</strong>
  <%= @butt.percentbodysize %>
</p>

<%= link_to 'Edit', edit_butt_path(@butt) %> |
<%= link_to 'Back', butts_path %>
